.card {
  background-color: var(--clr-accentgrey);
  color: var(--clr-light);
  text-align: center;
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.input-display {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0;
}

.input {
  background-color: var(--clr-light);
  margin: 1rem auto;
  margin-bottom: 1rem;
  padding: 0.75rem;
  height: 3rem;
  width: 4.125rem;
  border: none;
  border-radius: 0.625rem;
  font-size: var(--fs-body);
  font-family: NunitoSans, sans-serif;
  font-weight: 400;
  outline: none;
}

.calculate-btn {
  background-color: var(--clr-accentgreen);
  color: var(--clr-dark);
  height: 3rem;
  border: none;
  border-radius: 0.625rem;
  font-size: var(--fs-h3);
  font-family: NunitoSans, sans-serif;
  font-weight: 600;
}

.calculate-btn:hover {
  cursor: pointer;
  background-color: var(--clr-light);
  color: var(--clr-accentgreen);
}

.result {
  color: var(--clr-light)
}


