/* css is for mobile first view */
/* iPhone 13 and 14: 383W x 852H */

/* Custom properties, method for declaring re-usable values and can be updated */
:root {
  /* colors */
  --clr-light: #f1f1f1;
  --clr-dark: #242424;
  --clr-accentgreen: #30D158;
  --clr-accentgrey: #3D3D3D;
  --clr-accentblue: #0A84FF;
}

.app {
  background-color: var(--clr-dark);
  width: 23.9rem;
  height: auto;
  padding: 1.25rem;
  margin: auto;
  border-radius: 1.875rem;
}

